.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  position: absolute;
  background-color: $backgroundHeaderColor;
  font-size: 18px;
  color: white;
  height: $header-height;
  left: 0;
  right: 0;
  top: 0;

  &__logo {

  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $actionTextColor;
  }

  &__action {
    transition: color .2s;
    cursor: pointer;
    margin-right: 30px;

    &:hover {
      color: $actionTextHoverColor;
    }
  }
}
